bin/
obj/
out/
Siyasett.Web/obj/
Siyasett.Web/bin/
Siyasett.Web/out/
Siyasett.core/obj/
Siyasett.core/bin/
Siyasett.core/out/
Siyasett.Data/obj/
Siyasett.Data/bin/
Siyasett.Data/out/

*.deps.json
*.dll
*.pdb
*.runtimeconfig.json

.vscode/
.idea/
*.vsconfig

node_modules/
packages/
npm-debug.log
yarn.lock

logs/
*.log
!logs/.gitkeep

.DS_Store
Thumbs.db
