
@{
    ViewBag.Title = "E-posta Onayla";


    var culture = Thread.CurrentThread.CurrentCulture;
    var cultureName = culture.Name;

}
<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>


<div class="sidebar-page-container" style="padding-top:50px;">
    <div class="container">
        <p>@Html.Raw(ViewBag.Message)</p>

    </div>
</div>
