@{
    ViewBag.Title = "Üyelik Tipi Seçimi";
    Guid userId = ViewBag.UserId;
}
<!-- BREAD-CRUMB -->
<!-- style="background-image:url(/images/background/page-banner.jpg);" -->
<section class="page-title" style="padding: 0 0 0">
    <div class="container">
        <div class="inner-container clearfix">
            <!--
                <div class="title-box">
                  <h1>@ViewData["Title"]</h1>
                </div>
            -->
            <div class="bread-crumb">

                <ul>
                    <li><a href="/"><i class="fa fa-home"></i></a></li>

                    <li>@ViewData["Title"]</li>

                </ul>

            </div>
        </div>
    </div>
</section>

<div class="page-wrapper">
    <section class="price-section">
        <div class="container">
            <h4 style="text-align:center;color:black"><b>ÜYELİK TÜRÜ SEÇİMİ</b></h4>
            <br />
            <div class="outer-container pricing-tabs tabs-box">
                <div class="clearfix">
                    <!--Price Column-->
                    <div class="price-column">
                        <div class="inner-column">
                            <!--Tabs Container-->
                            <div class="tabs-content">
                                <!--Tab-->
                                <div class="tab active-tab" id="prod-monthly">
                                    <div class="content">
                                        <div class="row clearfix">
                                            <!-- Price Block -->
                                            <!--<div class="price-block col-lg-4 col-md-6 col-sm-12" style="width:20%">
        <div class="inner-box">
            <div class="upper-box">
                <h3>Standart</h3>
                <div class="icon-box"><i class="icon flaticon-medical-history"></i></div>
            </div>
            <div class="price">
                Ücretsiz
                @* <span>Ücretsiz</span> *@
            </div>
            <div class="middle-box">
                <ul>
                    <li>Türkçe içeriklere sınırlı erişim</li>
                </ul>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <a class="purchased btn-style-three" href="/columns">Seç</a>
        </div>
    </div>-->
                                            <!-- Price Block -->
                                            <div class="price-block col-lg-4 col-md-6 col-sm-12" style="width:20%">
                                                <div class="inner-box">
                                                    <div class="upper-box">
                                                        <h3>Kişisel</h3>
                                                        <div class="icon-box"><i class="icon flaticon-project"></i></div>
                                                    </div>
                                                    <div class="price">
                                                        40<sub>₺</sub>
                                                        <span>/ Aylık</span>
                                                    </div>
                                                    <div class="middle-box">
                                                        <ul>
                                                            <li>1 Kullanıcı</li>
                                                            <li>Simülasyon ve Analizler dışındaki Türkçe içeriklere sınırsız erişim</li>

                                                        </ul>
                                                    </div>
                                                    <br />
                                                    <br />
                                                    <br />
                                                    <a class="purchased btn-style-three" href="/Payment?type=2">Seç</a>
                                                </div>
                                            </div>
                                            <!-- Price Block -->
                                            <div class="price-block col-lg-4 col-md-6 col-sm-12" style="width:20%">
                                                <div class="inner-box">
                                                    <div class="upper-box">
                                                        <h3>Profesyonel</h3>
                                                        <div class="icon-box"><i class="icon flaticon-bill"></i></div>
                                                    </div>
                                                    <div class="price">
                                                        350<sub>₺</sub>
                                                        <span>/ Aylık</span>
                                                    </div>
                                                    <div class="middle-box">
                                                        <ul>
                                                            <li>1 Kullanıcı</li>
                                                            <li>Simülasyonlar</li>
                                                            <li>Analizler</li>
                                                            <li>Haftalık raporlama</li>
                                                            <li>Türkçe içeriklere sınırsız erişim</li>


                                                        </ul>
                                                    </div>
                                                    <br />

                                                    <a class="purchased btn-style-three" href="/Payment?type=3">Seç</a>
                                                </div>
                                            </div>
                                            <!-- Price Block -->
                                            <div class="price-block col-lg-4 col-md-6 col-sm-12" style="width:20%">
                                                <div class="inner-box">
                                                    <div class="upper-box">
                                                        <h3>Kurumsal</h3>
                                                        <div class="icon-box"><i class="icon flaticon-bill"></i></div>
                                                    </div>
                                                    <div class="price">
                                                        950<sub>₺</sub>
                                                        <span>/ Aylık</span>
                                                    </div>
                                                    <div class="middle-box">
                                                        <ul>
                                                            <li>20 Kullanıcı</li>
                                                            <li>Simülasyonlar</li>
                                                            <li>Analizler</li>
                                                            <li>Haftalık raporlama</li>
                                                            <li>Türkçe ve İngilizce içeriklere sınırsız erişim</li>

                                                        </ul>
                                                    </div>
                                                    <a class="purchased btn-style-three" href="/Payment?type=4">Seç</a>
                                                </div>
                                            </div>
                                            <!-- Price Block -->
                                            <div class="price-block col-lg-4 col-md-6 col-sm-12" style="width:20%">
                                                <div class="inner-box">
                                                    <div class="upper-box">
                                                        <h3>İngilizce</h3>
                                                        <div class="icon-box"><i class="icon flaticon-bill"></i></div>
                                                    </div>
                                                    <div class="price">
                                                        400<sub>₺</sub>
                                                        <span>/ Aylık</span>
                                                    </div>
                                                    <div class="middle-box">
                                                        <ul>
                                                            <li>1 Kullanıcı</li>
                                                            <li>Simülasyonlar</li>
                                                            <li>Analizler</li>
                                                            <li>Haftalık raporlama</li>
                                                            <li>Türkçe ve İngilizce içeriklere sınırsız erişim</li>
                                                        </ul>
                                                    </div>
                                              

                                                    <a class="purchased btn-style-three" href="/Payment?type=5">Seç</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--Tab-->

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h4 style="text-align:center;color:black"><b>Üyelik ödemeleri bir yıl için topluca alınmaktadır.</b></h4>
        </div>
    </section>
</div>
