@{
    PagerInfo pager = ViewBag.Pager;
    ViewData["Title"] = "Gündem";

}
<div class="large-12 columns">
    <div class="page-title">
        <h1>@ViewData["Title"]</h1>
        <div class="breadcrumbs">
            <a href="/" title="">Ana Sayfa</a> @ViewBag.Title
        </div>
    </div>
</div>

<section id="main" class="medium-12 large-12 columns">
    <h3>Gündem sayfası hazırlanıyor....</h3>
</section>