@model List<PartyTextListModel>
@{
    List<Sector> sectorscombo = ViewBag.SectorsCombo;

}

<table class="table table-striped mt-3">
    <tr>
        <th>Sektör</th>
        <th>...</th>
    </tr>
    <tbody id="tbPartyTexts">
        @foreach (var item in Model)
        {
            <tr id="tr_partytexts_@item.Id">
                
                <td>@item.SectorName</td>

                <td>
                    <div class="btn-group btn-group-sm">
                        <button onclick="editPartyText_click(@item.Id)" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i> Değiştir</button>
                        <button onclick="deletePartyText_click(@item.Id)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i> Sil</button>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

