@model List<EmailModel>


<table class="table table-striped mt-3">
    <tr>
        <th>Tipi</th>
        <th>Email</th>
        <th>...</th>
    </tr>
    <tbody id="tbEmails">
        @foreach (var item in Model)
        {
            <tr id="tr_emails_@item.Id">
                <td>@item.CommunicationTypeNameTr </td>
                <td>@item.EmailAddress</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button onclick="editEmail_click(@item.Id)" class="btn btn-sm btn-outline-secondary"><i class="fa fa-edit"></i> Değiştir</button>
                        <button onclick="deleteEmail_click(@item.Id)" class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i> Sil</button>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


